@CHARSET "UTF-8";
#main{
    margin-top: -10px;
}
.crop {
    width: 740px;
    margin: 10px auto;
    border: 1px solid #d3d3d3;
    padding: 4px;
    background: #fff
}
#cropzoom_container {
    float: left;
}
#userFaceInit{
    width: 500px;
}
#preview {
    float: left;
    width: 120px;
    height: 120px;
    border: 1px solid #999;
    margin: 10px auto;
    padding: 4px;
    background: #f7f7f7;
}
.page_btn {
    float: left;
    width: 150px;
    margin: 10px auto;
    line-height: 30px;
    text-align: center
}
.page_btn .btn{
    margin: 20px;
}
.clear {
    clear: both
}
.btn {
    cursor: pointer
}