@CHARSET "UTF-8";
#main{
    margin-top: -10px;
}
.crop {
    width: 740px;
    margin: 10px auto;
    border: 1px solid #d3d3d3;
    padding: 4px;
    background: #fff
}
#cropzoom_container {
    float: left;
}
#userFaceInit{
    width: 500px;
}
#preview {
	background: none repeat scroll 0 0 #f7f7f7;
	float: left;
	height: 200px;
	margin: 10px auto;
	width: 200px;
}
.page_btn {
	float: left;
	line-height: 30px;
	margin: 10px auto;
	text-align: center;
	width: 200px;
}
.page_btn .btn{
    margin: 20px;
}
.clear {
    clear: both
}
.btn {
    cursor: pointer
}