.cntSeparator {
    font-size: 58px;
    font-weight: bold;
    line-height: 90px;
    margin: 0 10px;
    color: #00db9f;
}

.cntDigit {
    margin-top: 0px !important;
}

.cntDigit#cnt_0 {
    margin-left: 52px;
}
.cntDigit#cnt_2 {
    margin-left: 7px;
}
.seporator{
    margin: 50px 0;
}
.countdown{
    width: 80%;
    margin:50px auto;
}
