@CHARSET "UTF-8";
.create-experience {
    margin-left: 20px;
}
.experience-list,.experience-input{
    height: auto;
    border: #909090 1px solid;
    color: #333;
    -moz-box-shadow: 2px 2px 10px #0b5d59;
    -webkit-box-shadow: 2px 2px 10px #0b5d59;
    box-shadow: 2px 2px 10px #0b5d59;
    padding: 10px;
}
.experience {
    margin: 10px;
    padding: 10px;
    border-bottom: #909090 1px solid;
}
.face {
    background: url(/images/face/face.jpg) no-repeat;
    margin:-10px 0 0 -35px;
    width: 200px;
    height: 200px;
}
.content .create-time .exp-time {
    font-size: 14px;
}
.content {
    height: 150px;
    overflow: auto;
}
.create-time,.exp-time{
    margin-top: 10px;
}
.create-time {
    float: left;
}
.exp-time {
    float: right;
}
#restmodal,#contentmodal{
   margin:240px 0 0 -400px
}


.exp-menu{
  margin: -1% 0 0 92%;
  position: absolute;
}
.exp-menu .dropdown .exp-menu-icon-choose, .exp-menu .dropdown .dropdown-menu{
  visibility: hidden;
}
.exp-menu-icon-choose{
  background-position: -75px -75px;
  height: 16px;
  width: 16px;
}
.exp-menu-icon-choose:hover{
    background-position: -100px -75px;
    height: 16px;
    width: 16px;
}
.exp-menu-icon-choose-up{
    background-position: -75px -225px;
    height: 16px;
    width: 16px;
}
.exp-menu-icon-choose-up:hover{
    background-position: -100px -225px;
    height: 16px;
    width: 16px;
}
.exp-menu-button {
  background-image: url("images/icon.png");
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  width: 16px;
}
a, .S_link1, .S_func1:hover, .SW_fun:hover .S_func1, .SW_fun2:hover .S_func3, .SW_fun2:hover .S_func4 {
  color: #0A8CD2;
}
.exp_menu_list ul {
  clear: both;
  margin: 0;
  padding: 0;
}
.exp_menu_list ul li {
  display: inline;
  float: none;
  margin: 0;
  padding: 0;
  position: static;
}
li {
  list-style: none outside none;
}


.ajax_notification {
  background:#079D59;
  background-position: 2% center;
  border: 1px solid #E2B709;
  display: inline;
  left: 0;
  margin: 0 0 0 300px;
  padding: 5px;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  height:65px;
  width: 350px;
  z-index: 1100;
}

.ajax_notification {
  background: none repeat scroll 0 0 #079D59;
  border-radius: 5px;
  box-shadow: 0 5px 90px #888888;
  margin-top: 320px;
}

.load-more {
  background-color: #ddd;
}
.load-more a {
  cursor: pointer;
}
.load-more a, .load-more em {
  display: block;
}
.load-more, .btn:hover, .btngroup a:link, .btngroup a:visited, .btngroup a:active, .btngroup a:hover {
  color: #555;
}
.load-more {
  border-radius: 10px;
  line-height: 28px;
  margin: 0 10px;
  text-align: center;
}

.alert{
    margin-bottom: 0px;
}

#infscr-loading {
  background-color: #ddd;
}
#infscr-loading a {
  cursor: pointer;
}
#infscr-loading a, #infscr-loading em {
  display: block;
}
#infscr-loading, .btn:hover, .btngroup a:link, .btngroup a:visited, .btngroup a:active, .btngroup a:hover {
  color: #555;
}
#infscr-loading {
  border-radius: 10px;
  line-height: 28px;
  margin: 0 10px;
  text-align: center;
}