@CHARSET "UTF-8";
.create-experience {
    margin-left: 20px;
}
.experience-list {
    height: auto;
    border: #909090 1px solid;
    color: #333;
    -moz-box-shadow: 2px 2px 10px #909090;
    -webkit-box-shadow: 2px 2px 10px #909090;
    box-shadow: 2px 2px 10px #909090;
    padding: 10px;
}
.experience {
    margin: 10px;
    padding: 10px;
    border-bottom: #909090 1px solid;
}
.face {
    background: url(images/wangxianfeng.jpg) no-repeat;
    width: 110px;
    height: 110px;
}
.content .create-time .exp-time {
    font-size: 14px;
}
.content {
    height: 90px;
    overflow: auto;
}
.create-time {
    float: left;
}
.exp-time {
    float: right;
}
#restmodal,#contentmodal{
   margin:240px 0 0 -400px
}


.exp-menu{
  margin: -10px 0 0 680px;
  position: absolute;
}
.exp-menu .dropdown .exp-menu-icon-choose, .exp-menu .dropdown .dropdown-menu{
  visibility: hidden;
}
.exp-menu-icon-choose{
  background-position: -75px -75px;
  height: 16px;
  width: 16px;
}
.exp-menu-icon-choose:hover{
    background-position: -100px -75px;
    height: 16px;
    width: 16px;
}
.exp-menu-icon-choose-up{
    background-position: -75px -225px;
    height: 16px;
    width: 16px;
}
.exp-menu-icon-choose-up:hover{
    background-position: -100px -225px;
    height: 16px;
    width: 16px;
}
.exp-menu-button {
  background-image: url("images/icon.png");
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  width: 16px;
}
a, .S_link1, .S_func1:hover, .SW_fun:hover .S_func1, .SW_fun2:hover .S_func3, .SW_fun2:hover .S_func4 {
  color: #0A8CD2;
}
.exp_menu_list ul {
  clear: both;
  margin: 0;
  padding: 0;
}
.exp_menu_list ul li {
  display: inline;
  float: none;
  margin: 0;
  padding: 0;
  position: static;
}
li {
  list-style: none outside none;
}