@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
}
.clock{
	width:100%;
	float:left;
}
#clock {
	position: relative;
	width: 400px;
	height: 404px;
	margin: 40px auto 0 auto;
	background: url(images/clockface.png);
	list-style: none;
}

#sec,#min,#hour {
	position: absolute;
	width: 20px;
	height: 400px;
	top: 0px;
	left: 190px;
}

#sec {
	background: url(images/sechand.png);
	z-index: 3;
}

#min {
	background: url(images/minhand.png);
	z-index: 2;
}

#hour {
	background: url(images/hourhand.png);
	z-index: 1;
}