@CHARSET "UTF-8";

.liuyan {
    height: 100%;
    width: 800px;
    margin: 0 auto;
    position: relative;
    list-style-type: none;
    float: left;
}
.liuyan .ly_list {
    width: 280px;
    box-shadow: 0px 0px 20px #333;
    position: relative;
    display: none;
    list-style-type: none;
}
.ly_list .ly_titleBg {
    width: 120px;
    height: 40px;
    background: #0b5d59;
    left: 30px;
    opacity: 0.55;
    filter: alpha(opacity=55);
    position: absolute;
    top: -20px;
}
.ly_list .ly_titleTxt {
    width: 160px;
    height: 40px;
    cursor: move;
    color: #fff;
    padding: 0 10px;
    line-height: 40px;
    left: 30px;
    position: absolute;
    top: -20px;
}
.yellow {
    background: #FFFFCC;
    -webkit-transform: rotate(10deg) translateZ(0);
    -moz-transform: rotate(10deg) translateZ(0);
}
.green {
    background: #CCFFCC;
    -webkit-transform: rotate(-10deg) translateZ(0);
    -moz-transform: rotate(-10deg) translateZ(0);
}
.blue {
    background: #C6C6F8;
    -webkit-transform: rotate(15deg) translateZ(0);
    -moz-transform: rotate(15deg) translateZ(0);
}
.color4 {
    background: #D1D1CE;
    -webkit-transform: rotate(-15deg) translateZ(0);
    -moz-transform: rotate(-15deg) translateZ(0);
}
.ly_list .ly_content {
    padding: 30px 10px 10px;
}
.ly_content p {
    text-indent: 1.5em;
}

.ly_list:hover,.ly_list:focus {
    -moz-box-shadow: 10px 10px 7px rgba(0,0,0,7);
    -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,7);
    box-shadow: 10px 10px 7px rgba(0,0,0,7);
    -webkit-transform: scale(1.55);
    -moz-transform: scale(1.55);
    -o-transform: scale(1.55);
    transform: scale(1.55);
    position: relative;
    z-index: 9999;
}


.add-my-care{
	margin-left:20px;
}



.context_menu{
  margin: -1% 0 0 92%;
  position: absolute;
}
.context-menu .dropdown .context-menu-icon-choose, .context-menu .dropdown .dropdown-menu{
  visibility: hidden;
}
.context-menu-icon-choose{
  background-position: -75px -75px;
  height: 16px;
  width: 16px;
}
.context-menu-icon-choose:hover{
    background-position: -100px -75px;
    height: 16px;
    width: 16px;
}
.context_menu-icon-choose-up{
    background-position: -75px -225px;
    height: 16px;
    width: 16px;
}
.context-menu-icon-choose-up:hover{
    background-position: -100px -225px;
    height: 16px;
    width: 16px;
}
.context-menu-button {
  background-image: url("/images/icon.png");
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  width: 16px;
}
a, .S_link1, .S_func1:hover, .SW_fun:hover .S_func1, .SW_fun2:hover .S_func3, .SW_fun2:hover .S_func4 {
  color: #0A8CD2;
}
.context-menu-list ul {
  clear: both;
  margin: 0;
  padding: 0;
}
.context-menu-list ul li {
  display: inline;
  float: none;
  margin: 0;
  padding: 0;
  position: static;
}
li {
  list-style: none outside none;
}