@CHARSET "UTF-8";
.life-time-container {
    border: 1px solid #DDDDDD;
    border-collapse: collapse;
    border-spacing: 0;
    box-sizing: border-box;
    height: 110px;
    margin-bottom: 20px;
    max-width: 100%;
    position: relative;
    width: 100%;
}
.life-time {
    color: #079D59;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 5px;
    margin: 0 auto;
    position: relative;
    top: 40%;
    width: 86%;
}